/*body {
  margin: 0px auto;
  position: absolute;
}*/

.navbar {
  border-radius: 5px;
  margin-bottom: 5px;
  height: 25px;
}

.navbar-header {
  text-align: center;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: bold;
  color: #669999;
  margin-top: -13px;
}


h1 { 
  text-align: center;
  letter-spacing: 15px;
  color: #669999;
  text-transform: uppercase;
}

h3 { 
  text-align: center;
  color: #663399;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.voters {
  text-align: center;
  color: #663399;
  font-weight: bold;
  font-size: 100px;
  margin-top: -25px;
  margin-bottom: -25px;
}


.plusMinus {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  color: #663399;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid #663399;
  margin-top: -20px;
  margin-bottom: 0px;
}

.plusMinus:hover {
    background-color: #663399;
    color: #eee;
}

.go {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
  color: #663399;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 55px;
  border: 1px solid #663399;
  margin-bottom: 200px;
}

.go:hover {
    background-color: #663399;
    color: #eee;
}

.vote {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  color: #663399;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: block;
  margin: auto;
  border: 1px solid #663399;
  margin-top: 0px;
  margin-bottom: 40px;
}

.vote:hover {
    background-color: #663399;
    color: #eee;
}

.reset {  
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: block;
  margin: auto;
  width: 175px;
  text-align: center;
  font-style: italic;
  color: #663399;
  background-color: #eee;
  border-radius: 25px;
  border: 1px solid #663399;
  margin-top: 50px;
  margin-bottom: 20px;
}

.reset:hover {
    background-color: #663399;
    color: #eee;
}

.yourVoteHead { 
  text-align: center;
  font-size: 18px;
  color: #663399;
  margin-top: -30px;
}

.groupVoteHead { 
  text-align: center;
  font-size: 25px;
  color: #663399;
  margin-top: -45px;
}

.yourVote {
  text-align: center;
  color: #eee;
  background: #663399;
  font-size: 40px;
  padding-top: 12px;
  padding-left: 2px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: block;
  margin: auto;
  border: 1px solid #663399;
  margin-top: 0px;
  margin-bottom: 40px;
}

.result {
  text-align: center;
  text-transform: uppercase;
  color: #663399;
  font-size: 115px;
  font-weight: bold;
  padding-top: 43px;
  padding-left: 2px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 1px solid #663399;
  margin-top: 0px;
  margin-bottom: 40px;
}

.space {
  text-align: center;
  padding-top: 45px;
}

.space2 {
  text-align: center;
  padding-top: 15px;
}
  
